@import '../../styles/abstract/custom-variables';
@import '../../styles/abstract/custom-mixins';

.page {
    &_banner {
        &__bg {
            background-image: url('/images/hero/1b.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            min-height: 460px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            padding-bottom: 20px;
        }
    }
    &_title {
        color: $white;
        margin-bottom: 5px;
        padding-top: 15px;
        font-size: 40px;
        text-shadow: 2px 2px 4px rgba(220, 222, 220, 0.9);
        line-height: 0.97;
        @include breakpoint(max-xs-device) {
            font-size: 50px;
        }
    }
}