// Font Family
$yantramanav: 'Yantramanav', sans-serif;
$rajdhani: 'Rajdhani', sans-serif;

// Color
$primary: #b8418a;
$secondary: #a4ca46;
$white: #ffffff;
$cinza: #605e5c;
$rosa: #bf4594;
$bordo: #a64182;
$verde: #b9d948;
$musgo: #a7bf4e;
$verdao: #335743;

// Transition
$baseTransition: all 0.3s ease 0s;

// Bootstrap grid-breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px,
);

// Bootstrap container-max-widths
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1170px,
    xxl: 1200px,
);
